---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const posts = (await getCollection('log'))
    .filter((a) => a.data.pubDate.getUTCFullYear() != 0)
    .filter((a) => a.data.unlisted !== true)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const sites = [
    { text: "jennschiffer.com" },
    { text: "daverupert.com" },
    { text: "vicki.substack.com", url: "https://vicki.substack.com/people/919000-vicki-boykis" },
    { text: "molly.wiki" },
    { text: "fasterthanli.me" },
    { text: "programmingisterrible.com" },
    { text: "jvns.ca" },
    { text: "hillelwayne.com" },
    { text: "copyconstruct.medium.com" },
    { text: "lexi-lambda.github.io" },
    { text: "danluu.com" },
];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
            <h1>brianloveswords</h1>
            <section>
                <h2>toys</h2>
                <ul>
                    <li><a href="/bsky-bc">bsky-bc</a>: bandcamp albums from the bluesky firehose</li>
                </ul>
            </section>
			<section>
			    <h2>log</h2>
				<ul>
					{
						posts.map((post) => (
							<li class="log-line">
								<FormattedDate date={post.data.pubDate}/>
								<a href={`/log/${post.slug}/`}>{post.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>

			<section>
                <h2>friends & good websites</h2>
                <ul>
                    {
                        sites.map((site) => (
                            <li>
                                <a href={site.url ?? `https://${site.text}`}>{site.text}</a>
                            </li>
                        ))
                    }
                </ul>
            </section>

            <section>
                <h2>other places where I'm me</h2>
                <dl>
                    <dt>bluesky</dt>
                    <dd><a href="https://bsky.app/profile/brianloveswords.com">brianloveswords</a></dd>

                    <dt>bandcamp</dt>
                    <dd><a href="https://bandcamp.com/brianloveswords">brianloveswords</a></dd>

                    <dt>github</dt>
                    <dd><a href="https://github.com/brianloveswords">brianloveswords</a></dd>

                    <dt>email</dt>
                    <dd><a href="mailto:brianloveswords+ðŸ‘‹ðŸ½@gmail.com">brianloveswords@gmail.com</a></dd>
                </dl>
            </section>
		</main>
	</body>
</html>
