---
import { getCanonicalURL } from "../util"
export interface Props {
	title: string;
	description: string;
	baseURL: string;
}
const { title, description, baseUrl } = Astro.props;
let canonicalURL = getCanonicalURL();
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description ?? title} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description ?? title} />
<meta property="og:site_name" content="brianloveswords" />
<meta property="og:image" content={`${baseUrl}/assets/brian-kittens.jpg`} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description ?? title} />
<meta property="twitter:image" content={`${baseUrl}/assets/brian-kittens.jpg`} />
<meta property="twitter:image:alt" content="brian reclining, covered in 4 black kittens. the kitten in the front is staring dead into the camera with their mouth wide open" />
<meta property="twitter:site" content="@brianloveswords" />


<!-- Fonts -->
<link
	rel="preload"
	href="/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2"
	as="font"
	type="font/woff2"
	crossorigin
/>
<link
	rel="preload"
	href="/assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2"
	as="font"
	type="font/woff2"
	crossorigin
/>
<link
	rel="preload"
	href="/assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2"
	as="font"
	type="font/woff2"
	crossorigin
/>
<link
	rel="preload"
	href="/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2"
	as="font"
	type="font/woff2"
	crossorigin
/>
<style global>
	@import "../styles/blog.css";
	@import "../styles/code.css";
</style>
