---
import BaseHead from '../components/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';
import BlogFooter from '../components/BlogFooter.astro';
import { baseURL } from "../meta"
import { cleanDate } from "../util"

let { content } = Astro.props;
let { title, description, publishDate, listening, slug } = content;
---

<html lang={content.lang ?? 'en'}>
	<head>
		<BaseHead {title} {description ?? title} {baseURL} />
	</head>

	<body>

		<BlogPost {title} {publishDate} {listening}>
			<slot />
		</BlogPost>
		<BlogFooter />
	</body>
</html>
