---
import BaseHead from '../components/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';
import BlogFooter from '../components/BlogFooter.astro';
import { baseUrl } from "../meta"

const { content } = Astro.props;
const { title, description, publishDate, listening, slug } = content;
const permalink = `${baseUrl}/log/${slug}`;
---

<html lang={content.lang ?? 'en'}>
	<head>
		<BaseHead {title} {description ?? title} {permalink} {baseUrl} />
	</head>

	<body>
		<div class="wrapper">
			<BlogPost {title} {publishDate} {permalink} {listening}>
				<slot />
			</BlogPost>
			<BlogFooter />
		</div>
	</body>
</html>
