---
import BaseHead from '../components/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';


const { content } = Astro.props;
const { title, description, publishDate, permalink, listening } = content;
---

<html lang={content.lang ?? 'en'}>
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<div class="wrapper">
			<BlogPost {title} {publishDate} {listening}>
				<slot />
			</BlogPost>
		</div>
	</body>
</html>
