---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'log'>['data'];

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
        h1 {
            font-size: 2.5em;
            margin-bottom: 0.2em;
            margin-top: 0.1em;
        }

        h1 aside {
            font-size: 0.5em;
            line-height: 0.75em;
            opacity: 0.33;
            font-style: italic;
        }

        h2 {
            margin: 0.2em 0;
            font-size: 1em;
        }

        h3 {
            margin: 0;
            padding: 0;
            font-size: 0.8em;
        }

        header {
            padding-bottom: 1em;
            margin-bottom: 1em;
            border-bottom: 1px solid rgba(0,0,0,0.2);
        }

        a {
            text-decoration: none;
            transition: opacity 0.2s ease-in-out;
            opacity: 0.66;
        }
        a i {
            display: inline-block;
            font-style: normal;
            width: 1.2em;
        }
        a:hover, a:focus {
            opacity: 1;
        }
        footer {
            border-top: 1px solid rgba(0,0,0,0.2);
            padding-top: 2em;
            margin-top: 2em;
        }
        </style>

	</head>

	<body>
		<header>
            <h1 class="title">
                {title}
                {description && <aside>{description}</aside>}
            </h1>
            <h2 class="published">
                <a href="."}><i>🔗</i> posted <FormattedDate date={pubDate} /></a>
            </h2>
            <h2 class="back"><a href="/"><i>🔙</i> back to index</a></h2>
		</header>
		<main>
			<article>
				<div class="prose">
					<slot />
				</div>
			</article>
		</main>
		<footer>
            <a href="/">Back to Index</a>
		</footer>
	</body>
</html>
